---
layout: default
permalink: /
---

 {% include hero.html %}

 {% include about.html %}

 {% comment %}
 {% include fabrity.html %}

 {% include rockstar-speakers.html %}

 {% include latest-news.html %}

 {% include twitter-feed.html %}
 {% endcomment %}

 {% include location-map.html %}

 {% include venue.html %}

 {% include last-edition.html %}

 {% comment %}
 {% include partners.html %}

 {% include subscribe.html %}

 {% include tickets.html %}
 {% endcomment %}

 {% include tickets-2.html %}
