<!-- Begin Direction Details-->
<section id="direction-details" class="direction-details">
    <div class="content-wrapper">
<!--         <section class="image-section standart-height" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.directionDetailsImage }}');">
            <h3>{{ site.directionDetailsTitle }}</h3>
        </section> -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                {% assign animationDelay = 0 %}
         <!--        {% for card in site.directionDetailsCards %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-12 same-height animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                    <div class="card">
                        <h4>{{ card.title }}</h4>
                        <p>{{ card.information }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% endfor %} -->
                
                {% for wideCard in site.directionDetailsWideCards %}
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card questions">
                        {% for subCard in wideCard.subCards %}
                        <div class="row sub-card">
                            <div class="col-md-12 col-xs-12">
                                <h4 class="text-center">{{ subCard.title }}</h4>
                                {% for linkElement in subCard.links %}
                                <div class="row sub-card-element">
                                    <div class="col-md-2 col-sm-2">
                                       <img class="img-responsive" src="{{ site.baseurl }}/img/logistics/{{ linkElement.logoUrl }}" width="300" height="300" />
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                      <h4>{{ linkElement.text }}</h4>
                                      <h5>{{ linkElement.address }}</h5>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                    <!-- TODO: Add distance info? -->
                                    </div>
                                    <div class="col-md-4 col-sm-4 text-center">
                                        <a href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}" {% if linkElement.link != null %}target="_blank"{% endif %} class="btn btn-large btn-primary">Sprawdź ofertę</a>
                                    </div>
                                </div>
                                <hr class="divider">
                                {% endfor %}
                            </div>                            
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details -->
