<!-- Begin Fabrity Section -->
<section id="fabrity" class="fabrity image-section" style="background-image: url({{ site.baseurl }}/img/sections-background/fabrity-background.jpg);">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <div class="row">
                <img src="{{ site.baseurl }}/img/partners/fabrity.png" alt="Logo Fabrity" class="img-responsive">
            </div>
            <div class="row">
                <p class="lead heading">Twórcy oprogramowania</p>
                <p class="lead">Jesteśmy w Rzeszowie! <a href="http://www.fabrity.pl/kariera" target="_blank">Dołącz do nas!</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End Fabrity Section -->
