<!-- Begin Last Edition Section -->
<section id="subscribe" class="subscribe image-section parallax lazy" data-bg="url({{ site.baseurl }}/img/sections-background/{{ site.lastEditionImage }})">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.lastEditionTitle }}</h3>

            {% for button in site.lastEditionButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End Last Edition Section -->
