<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
            <span class="tickets-info">{{ site.ticketsInfo }}</span>
            <iframe src="https://rzemiosloIT.evenea.pl?out=1&source=event_iframe" width="100%" scrolling="no" style="border: 0;"></iframe>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script type="text/javascript" src="//cdn.evenea.pl/js/iframe/new/iframeResizer2.js"></script>
		</div>
	</div>
</section>
<!-- End Tickets 2 Section -->
